.tab{
    border-collapse: collapse;
    overflow: hidden;
    width: 28%;
    border: 1px solid #c3cecd;
    position: relative;
    bottom: 430px;
    left: 440px;
    height: 300px;

  }
  h1 {
    font-family: "Brush Script MT", normal;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
  }
  td{
    padding-left: 10px;
  }
  input[type=text],input[type=password]{
    padding-left: 10px;
    width: 85%;
    margin: 5px;
    height: 25px;
  }
  input::placeholder {
    font-size: 0.8em;
  }
  .button{
    background-color:#00b7ff;
    color: white;
    font-size: 12px;
    font-family: Helvetica;
    border: none;
    border-radius: 10px;
    width: 92%;
    padding: 5px;
    display: block;
    margin-left: 5px;
    cursor: pointer;
    display: flex; /* Cambia el display del elemento a flex */
    justify-content: center; 
  }
  .ray{
    width: 35%;
  }
  .line-with-o {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .line-with-o hr {
    flex: 1;
    height: 1px;
    background-color: #c3cecd;
    border: none;
    margin: 0 10px;
  }
  
  .line-with-o .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: bold;
  }
  .facebook{
    padding-left: 50px;
    font-size: 13px;
    width: 100;
    color: #1b3a69;
  }
  .under-line:link{
    text-decoration: none;
    color: #1b3a69;
    padding-bottom: 15px;
  }
  .under-line:visited{
    color: #1b3a69;
  }
  .cuennew{
    font-size: 10px;
    display: flex; /* Cambia el display del elemento a flex */
    justify-content: center; 
  }
  .img{
    padding-left: 220px;
    padding-top: 50px;
    display: inline-block;  
  }
  .tab2{
    border-collapse: collapse;
    overflow: hidden;
    border: 1px solid #c3cecd;
    position: relative;
    left: 440px;
    bottom: 440px;
    width: 28%;
    height: 50px;
    font-size: 12px;
    text-align: center;
  }
  .tab3{
    width: 28%;
    position: relative;
    bottom: 430px;
    left: 440px;
    height: 2px;
    right: 400px;
    font-size: 15px;
    text-align: center;
  }
  .contenedor-imagenes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagen1, .imagen2 {
    width: 100%;
    border: none;
    padding-top: 5px;
  }
  .boton3{
    background-color: white;
    border: none;
  }
  a{
    text-decoration: none;
  }
  .under{
    text-decoration: none;
    color:#00ddff;
    font-family: Arial, Helvetica, sans-serif;
  }
  